<div class="b-wrapper" >
  <div class="b-header">
    <span>Please upgrade your browser to use</span><img src="/assets/logo_s.png" />
  </div>
  <p class="b-des">
  We built PaperClub using the latest  technology. This makes PaperClub faster and easier to use. Unfortunately, your browser doesn't support those technologies. Download one of these great browsers and you'll be on your way.
  </p>
  <div class="b-browsers">
    <ul>
      <li>
        <div class="img img-ie" href="#"></div>
        <a class="name" href="#">Internet Explorer</a>
        <p class="version">Vision 9+</p>
      </li>
      <li>
        <div class="img img-moz" href="#"></div>
        <a class="name" href="#">Mozilla  Firefox</a>
        <p class="version">Vision 4+</p>
      </li>
      <li>
        <div class="img img-chrome" href="#"></div>
        <a class="name" href="#">Google Chrom</a>
        <p class="version">Vision 7+</p>
      </li>
      <li>
        <div class="img img-safari" href="#"></div>
        <a class="name" href="#">Apple Safari</a>
        <p class="version">Vision 5+</p>
      </li>
    </ul>
  </div>
</div>
