<div class="p-page-content shadow024 bgwhite">
  <div class="i-sidebar-left" >
    <div class="section ">
      <span class="bg-logo s-logo2 inblock mb15"></span>
      <p class=" fs24 color-grey2 mt-8 font-c fs-ita" style="width: 300px; z-index: 10; position: relative;">
          Share, read and discuss <br /> academic papers in group
      </p>
    </div>
  </div>
  <div class="i-sidebar-right" >
    <div class="section ">
      <div class=" fs18 color-black  mb15 font-d" style="position: relative; z-index: 50;">
        <a href="/signup" class="blue2-hover" style="margin-left: 60px;">SIGN UP</a>
        <a href="/signin" class="ml30 blue2-hover">LOG IN</a>
      </div>
      <!--<form class=" font-d  fs16 color-grey2 mt20 ">
        <input class="m-f-input mb20 w100" type="text" placeholder="Email" />
        <input class="m-f-input w100" type="password" placeholder="Password" />
        <a href="#" class="fw-bold  fs18 color-black  mt10 blue2-hover asblock fr " >let's go </a>
        <div class="cb"></div>
        <p class="w100 fs13 color-grey2  tc mt10"  >Sorry, your Email or password wasn't recognized</p>
      </form>-->
    </div>
  </div>
  <div class="i-focus-list cf">
    <div id="slides">
      <div class="slides_container">
        <div class="slide">
          <div class="caption font-c fw-bold  fs26" >
            <p class="font-c fw-bold color-grey3 fs26">Share papers with collegues</p>
            <p class="font-d color-grey2 fs16" style="width: 62%;margin: 15px auto 0;"></p>
        </div>
        <img src="assets/fig-share.png">
      </div>
      <div class="slide">
        <div class="caption font-c fw-bold  fs26" >
          <p class="font-c fw-bold color-grey3 fs26">Read papers online</p>
          <p class="font-d color-grey2 fs16" style="width: 62%;margin: 15px auto 0;"></p>
        </div>
        <img src="assets/fig-cloud.png">
      </div>
      <div class="slide">
        <div class="caption font-c fw-bold  fs26" >
          <p class="font-c fw-bold color-grey3 fs26">Disucss papers with peers</p>
          <p class="font-d color-grey2 fs16" style="width: 62%;margin: 15px auto 0;"></p>
        </div>
        <img src="assets/fig-discuss.png">
      </div>
    </div>
    <div class="tc" style="padding: 6px;">
      <a href="/signup" class="font-d fw-bold color-grey3 fs20 blue2-hover">Try it out now!</a>
    </div>
  </div>
</div>
           
<div class="m-m-wrapper index-signup displayno">
  <div class="m-m-overlay"></div>
    <div class="m-m-container shadow4lv1 fs18" >
      <div class="m-m-title font-d fs-ita  fw-bold">Creat an acount</div>
      <div class="m-m-content">
        <form class=" font-d  fs16 color-grey2 mt40">
          <input class="  m-f-input mb20 column-62 " type="text" placeholder="Fullname" /><span class="inblock fs13 ml30 "> </span>
          <input class="  m-f-input column-62 mb20 input-green" type="text" placeholder="Email" /><span class="inblock fs13 ml30"> </span>
          <input class="  m-f-input column-62 input-red" type="password" placeholder="Password" /><span class="inblock fs13 ml30">Enter a longer password </span>
          <p class="cf">
            <a href="#" class=" font-d asblock fr color-black fw-bold inblock mt40 mr20 fs18 blue-hover  fs-ita" >Let's go</a>
            <a href="#" class="fw-bold  fs18 color-grey2 fr  blue-hover inblock mt40 mr30  fs-ita"  >Cancle</a>
          </p>
        </form>
      </div>
    <div class="m-m-footer"></div>
  </div>
</div>
