<div class="m-m-wrapper log-sign">
  <div class="m-m-overlay"></div>
  <div class="m-m-container login shadow4lv1 fs18">
    <div class="m-m-title font-d tc "> 
      <a href="/" class="bg-logo s-logo1 inblock mt10 "></a>
      <p class=" fs24 color-grey2 mt20 font-c fs-ita">
        Share, read and discuss <br /> academic papers in group
      </p>
    </div>
    <div class="m-m-content font-d">
      <form class="fs16 color-grey2" style="margin: 24px 0 50px;">
        <!--<p class="tc fs18 color-grey3">
          <em class="fs24 fs-ita mr5 fw-bold">Log in</em> to visit  your PaperClub
          </p>-->
        <input class="m-f-input  mt30 w100" type="text" placeholder="Email" />
        <input class="m-f-input w100 mt20 " type="password" placeholder="Password" />
        <p class="cf">
            <a href="#" class="asblock fr color-black fw-bold inblock mt20  fs18 blue-hover" >Sign in</a>
        </p>
      </form>
      <p class="fs16 color-grey2 tc" style="margin-top: 98px;">Not a member? <a href="#" class=" fs-ita  fw-bold mr5 blue-hover">Sign up</a>now</p>
      <p class="fs16 color-grey2 tc" style="margin-top: 12px;">Forgot password? <a href="#" class=" fs-ita  fw-bold blue-hover">Click here</a></p>  
    </div>
  </div>
</div>
