<div class="m-m-wrapper log-sign">
  <div class="m-m-overlay"></div>
  <div class="m-m-container signup shadow4lv1 fs18 cf"   >
    <div class="m-m-title font-d  fl column-38 ml40 "> 
      <a href="#" class="bg-logo s-logo3 asblock mt10 fr"></a>
      <p class=" fs24 color-grey2 mt20 font-c fs-ita fr" >
        Share, read and discuss <br /> academic papers in group
      </p>
    </div>
    <div class="m-m-content font-d fr column-50" style="margin-top: 18px;">
      <p class=" font-d fs24 fs-ita color-grey3">Creat an acount</p>
      <form class=" font-d  fs16 color-grey2 mt20">
        <input class="  m-f-input mb20 column-62" type="text" placeholder="Fullname" /><span class="inblock fs13 ml30 "> </span>
        <input class="  m-f-input mb20 column-62 input-green" type="text" placeholder="Email" /><span class="inblock fs13 ml30"> </span>
        <input class="  m-f-input column-62 input-red" type="password" placeholder="Password" /><span class="inblock fs13 ml30">Enter a longer password </span>
        <p class="column-62">
          <a href="#" class=" font-d asblock fr color-grey3 fw-bold inblock mt30 fs18 blue-hover" >Create account</a>
        </p>
      </form>
    </div>
  </div>
</div>
