<!------------------- Google Analytics -------------------------->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-32830815-4']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


<div class="m-m-wrapper log-sign">
  <div class="m-m-overlay"></div>
  <div class="m-m-container login shadow4lv1 fs18">
    <div class="m-m-title font-d tc "> 
      <a href="/" class="bg-logo s-logo1 inblock mt10 "></a>
      <p class=" fs24 color-grey2 mt20 font-c fs-ita">
        Share, read and discuss <br /> academic papers in group
      </p>
    </div>
    <div class="m-m-content font-d">
      <form action="/api/signin" method="post" class="fs16 color-grey2" style="margin: 24px 0 38px;">
        <input name="session[email]" class="m-f-input  mt30 w100" type="text" 
          placeholder="Email" style="line-height:1.5;" />
        <input name="session[password]" class="m-f-input w100 mt15" type="password" 
          placeholder="Password" style="line-height:1.5;" />
        <p class="cf">
          <input name="submit" type="submit" value="Sign in" href="#" 
            class="asblock fr color-black fw-bold inblock mt20  fs18 blue-hover" 
            style="border:none; background-color: transparent; cursor:pointer;" />
        </p>
      </form>
      <p class="fs16 tc" style="color: red; line-height: 1.5;">&nbsp; <%= flash[:error] %>  </p> 
      <p class="fs16 color-grey2 tc" style="margin-top: 26px;">Not a member? <a href="/signup" class=" fs-ita  fw-bold mr5 blue-hover">Sign up</a>now</p>
      <p class="fs16 color-grey2 tc" style="margin-top: 12px;">Forgot password? <a href="#" class=" fs-ita  fw-bold blue-hover">Click here</a></p>  
    </div>
  </div>
</div>
