body, html {
  overflow: hidden;
}

#viewport {
  font-family: sans-serif;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow:auto;
  background-color:white;
  /* for Chrome & Safari */
  -webkit-text-stroke-width:0.13px; 
}
.viewport-pages {
  width: 100%;
}
.viewport-page {
  margin: 13px auto;
  position: relative;
  border: solid 1px;
  border-color: gray;
  background-color: gray;
  overflow: hidden;
}
.viewport-page > .p {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color:white;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
#viewport ::selection{
  background: rgba(127,255,255,1);
}
#viewport ::-moz-selection{
  background: rgba(127,255,255,1);
}
