<!------------------- AllClubsScreen's templates --------------->

<script type="text/template" id="clubs-screen-template">
  <div class="p-sidebar" id="p-sidebar-nav">
    <div class="section main">
      <div class="bg-logo p-logo"></div>
      <div class="header fs18 color-grey3  mb15 font-d mt30">
        <a class="asblock mb10 hover-f-blue color-blue clubs-btn">MY CLUBS</a>
        <a class="asblock mb10 hover-f-blue account-btn">MY ACCOUNT</a>
      </div>
    </div>
    <div class="section p-btn-back font-d">
      <a href="#" id="signout-btn">
        <span class="asblock fs13 color-grey2 ">Sign out</span>
        <span class="name asblock fs16 color-grey3 "><%= @user.fullname %></span>
      </a>
    </div>
  </div>
  <div class="p-main cf">
    <a href="#" class="c-btn-newclub hover-f-blue asblock font-d color-grey2 fs20 mb23 mt23 underline ">Creat a new club and invite friends</a>
    <ul class="mb30 c-club-lists">
    </ul>
  </div> 
</script>

<script type="text/template" id="invited-club-template">
<div class="header fs24 color-black fw-bold mb20 "><%%= name %></div>
<div class="section cf ">
  <div class="section-left fl column-50">
    <div class=" fs24 color-grey3 pl40 mb20"><%%= description %></div>
    <div class="left-footer pl40">
      <span class="fs-16 color-grey2 mr10"><em class=" fs42 color-grey1 font-icon">K</em><%%= num_papers %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">f</em><%%= num_members %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">b</em><%%= num_notes %></span>
    </div>
  </div>
  <div class="section-right case-invited fl column-50 mt-15">
    <div class=" fs24 color-grey3 fs-ita">You are invited by <span class=" color-black fw-bold" ><%%= invitor_name %></span></div>
    <a class="c-btn-join asblock font-d fw-bold lh15 fs18 pl40 mt10" href="#">Join it</a> 
    <a class="c-btn-deny asblock font-d color-grey3 lh15 fs18 pl40 mt10" href="#">Decline invitation</a> 
  </div>
</div>
</script>

<script type="text/template" id="joined-club-template">
<div class="c-edit pa fr color-grey2 mr10" style="right:0px;top:0px;">
    <a href="" class="del-btn" title="delete club "><span class="font-icon fs20 ">I</span></a>
</div>
<div class="header fs24 color-black fw-bold lh15 column-62 "><a href="#/clubs/<%%= id %>"><em class=" fs30 color-grey1 font-icon">></em><%%= name %></a></div>
<div class="section cf lh15">
  <div class="section-left fl column-62">
    <div class=" fs22 color-grey2 pl40"><%%= description %></div>
    <div class="left-footer pl40 lh12">
      <span class="fs-16 color-grey2 mr10"><em class=" fs42 color-grey1 font-icon">K</em><%%= num_papers %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">f</em><%%= num_members %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">b</em><%%= num_notes %></span>
    </div>
  </div>
  <div class="section-right fl column-38  c-case-img bs pl15 bs cf">
    <%% _.each(avatars, function(a, index) { %>
        <div class="circle img48 mr10 mb5  fl"><img class="circle0 img48" src="<%%= a.url %>" title="<%%= a.name %>"/></div>
    <%% }); %>
  </div>
</div>
</script>

<script type="text/template" id="dialoge-template">
<div class="m-m-overlay">
  <div class="m-m-container shadow4lv1 fs18">
    <div class="m-m-content">
      <!-- insert data here -->
    </div>
    <div class="m-m-footer color-black font-d cf mt20 lh15 fr">
      <a style="background-color:rgba(46,161,221,0.3);" href="#" class="c-btn-ok fs16 fr asblock btn-pri mr5"><%%= ok_btn %></a>
      <a href="#" class="c-btn-cancel fs16 fr asblock mr15" style="line-height:26px;"><%%= cancel_btn %></a>
    </div>
<!--
    <div class="m-m-footer">
      <a href="#" class="c-btn-ok font-d asblock fr color-black fw-bold mt20" ><%%= ok_btn %></a>
      <a href="#" class="c-btn-cancel font-d asblock fr color-grey3 mt20 mr20 fs16" style="line-height: 1.5;" ><%%= cancel_btn %></a>
    </div>
-->
  </div>
</div>
</script>

<script type="text/template" id="new-club-dialoge-template">
<dl class=" " >
  <dt id="new-club-name" class="m-f-input flv1 font-c color-grey2 fs20 color-black column-50 input-b-dotted" 
                                style="white-space: nowrap;overflow: hidden;" 
                                contenteditable="true"><%%= name %></dt>
  <dd id="new-club-description" class="m-f-input font-c color-grey2 fs22 ml40 pt15 input-b-dotted"  
                        style="white-space: nowrap;overflow: hidden;" 
                        contenteditable="true"><%%= description %></dd>
  <dt class="font-d fs-ita color-black mt15 mb10" style="line-height">Type emails to invite people — you can do this later, too.</dt>
  <%% _.each(invitation_emails, function(email, index) { %>
      <dd class="ml25"><span class="font-icon fs30 color-grey1 mt5  ">f</span><p id="new-club-email-<%%= index %>" class=" m-f-input inblock column-50 ml5 input-b-solid" contenteditable="true"><%%= email %></p></dd>
  <%% }); %>
</dl>
</script>

<script type="text/template" id="invite-friends-dialoge-template">
<dl>
  <dt class="font-d fs20 fs-ita color-black mt5 mb20" style="line-height">Type emails to invite people to join this club.</dt>
  <%% _.each(invitation_emails, function(email, index) { %>
      <dd class="ml25"><span class="font-icon fs30 color-grey1 mt5  ">f</span><p id="invitation-email-<%%= index %>" class=" m-f-input inblock column-50 ml5 input-b-solid" contenteditable="true"><%%= email %></p></dd>
  <%% }); %>
</dl>
</script>

<script type="text/template" id="account-dialoge-data-template">
<dl>
  <dt class="font-c fw-bold fs24">Edit your account</dt>
  <dd class="cf mt20 mb5">
    <span class="asblock fl img96 circle ml50"><img class=" img96 circle0 " src="/avatars/l/<%%= avatar_url %>.png" /></span>
    <div class="fl cf ml10">
      <p class="mt5">
         <span class="inblock w120 tr font-d fs16 color-grey2">Full name:</span>  
         <input id="account-fullname" class="font-d fs16 pl10 pr15 border1" type="text" value="<%%= fullname %>" />
      </p>   
      <p class="mt15">
         <span class="inblock w120 tr font-d fs16 color-grey2">Password:</span>  
         <input id="account-password" class="font-d fs16 pl10 pr15 border1" type="password" value="" />
      </p> 
      <p class="mt15">
         <span class="inblock w120 tr font-d fs16 color-grey2">Confirmation:</span>  
         <input id="account-confirmation" class="font-d fs16 pl10 pr15 border1" type="password" value="" />
      </p>  
    </div>
  </dd>
</dl>
</script>

<script type="text/template" id="confirm-del-club-template">
<div class="font-c lh15">
  <p class="fw-bold fs24 mb10">Are you sure to quit this club?</p>
  <p class="color-grey3">If you are the last one in this club, then this club will be deleted permanently.</p>
</div>
</script>

<script type="text/template" id="confirm-del-paper-template">
<p class="font-c fs24 lh15">Are you sure to delete this paper from the club?</p>
</script>

<script type="text/template" id="confirm-del-template">
<p class="font-c fs24 lh15"><%%= content %></p>
</script>



<!------------------- OneClubScreen's templates --------------->

<script type="text/template" id="club-screen-template">
<div class="p-sidebar" id="p-sidebar-nav">
  <dl class="section main p-nav-menu fs16 color-grey2 lh15 font-d">
    <!-- insert summary view here -->
    <dt class="menu-paper fs18 color-grey3 mt30"><a class="papers-btn color-blue" href="#">PAPERS</a></dt>
    <div class="papers-sub-btns">
      <dd><a class="papers-by-person-btn ml20" href="#">By person</a></dd>
      <dd><a class="papers-by-tag-btn ml20" href="#">By tag</a></dd>
      <dd class="upload-btn-wrapper ml20"><!-- insert upload btn here--></dd>
    </div>  
    <dt class="menu-paper fs18 color-grey3 mt10"><a class="everyone-btn" href="#">EVERYONE</a></dt>
  </dl>
  <div class="section p-btn-back font-d">
    <a href="#" >
      <span class="asblock fs13 color-grey2 ">back to</span>
      <span class="asblock fs16 color-grey3 ">CLUBS</span>
    </a>
  </div>
</div>
<div class="p-main">
</div>
</script>

<script type="text/template" id="paper-upload-btn-template">
  Upload<%% if(uploading){ %>ing 
    (<%%= progress %>% 
    <%% if(errors > 0) { %>
      ,<span style="color:red;"><%%= errors %> failures</span>
    <%% }; %>
    ) <%% }; %>
</script>

<script type="text/template" id="club-screen-summary-template">
<div class="header fs24 color-black lh10 fw-bold mt5 mb10 font-c editable">
  <%%= name %>
</div>
<div class="content fs16 color-grey2 lh10 font-d editable">
  <%%= description %>
</div>
</script>

<script type="text/templatye" id="edit-mode-buttons">
<div class="edit-btns color-grey3 font-d cf mt10 pb5 pt5 lh15">
  <a style="background-color:rgba(46,161,221,0.3);" href="#" class="ok-btn fs16 fr asblock btn-pri mr5"><%%= ok %></a>
  <a href="#" class="cancel-btn fs16 fr asblock mr15" style="line-height:26px;"><%%= cancel %></a>
</div>
</script>

<script type="text/template" id="club-screen-paper-list">
<div class="p-paper-filter">
  <div class="p-person-filters">
    <dt class="font-d color-black fs18 mb20">Persons</dt>
    <!-- insert persons here -->
  </div>
  <div class="p-tag-filters">
    <dt class="font-d color-black fs18 mb20">Tags</dt>
    <!-- insert tags here -->
  </div>
</div>
<div class="p-paper-list">
  <div class="mb10 cleanfloat" style="width: 100%;">
    <div class="fl column-62">
      <input class="paper-search m-f-input font-d fs13 input-b-solid" type="search"  
               placeholder="Search by title" />
    </div>
  </div>
  <ul style="width:100%;padding-top: 32px;">
    <!-- insert paper items here -->
  </ul>
</div>
</script>

<script type="text/template" id="club-screen-paper-item">
<div class="fl column-62">
  <div class="title fs26 font-c color-black fs-ita" style="line-height:32px;">
    <a href="#/papers/<%%= id %>"><%%= title %></a>
  </div>
  <div class="footer color-grey2 fs13 font-c" style="line-height:32px;height:32px;">
    <a><em class="font-icon color-grey1 p-btn-fav <%% if(starred) { %> starred <%% } %>" style="font-size:32px;line-height:32px;">*</em><%%= num_favs %></a>
    <span class="ml10"><em class="fs36 font-icon color-grey1" style="font-size:32px;line-height:32px;">E</em><%%= num_reads %></span>
    <span class="ml10"><em class="fs36 font-icon color-grey1" style="font-size:32px;line-height:32px;">b</em><%%= num_notes %></span>
    <em class="fs36 font-icon color-grey1" style="margin-left:10px;font-size:32px;">J</em>
    <span class="fs14">
    <%% if(tags.length > 0) { _.each(tags, function(tag, index) { %>
      <i class="mr5">
        <%%= tag.name %><%%= ( index >= tags.length-1 ? "" : "," ) %>
      </i>    
    <%% }); } else { %>
      <i class="mr5">(no tags)</i>
    <%% } %>
    </span>
  </div>
</div>
<div class="fl column-38 pl15 bs pr" style="">
  <div class="p-edit pa fr color-grey2 mr10" style="right:0px;top:0px;">
      <a class="del-btn" href="" title="delete paper"><span class="font-icon fs20 ">I</span></a>
  </div>
  <div style="margin-top: 15px; width: 100%;">
  </div>
  <%% if(news) { %>
    <%% if (news.detail && news.detail.length > 0) { %>
      <div class="fs36 font-c fw-bold color-grey2" style="margin-top: 28px;">
        &#8220;
      </div>
      <div class="content pl15 fs18 color-grey3 font-c huanhang" style="text-indent: 16px; margin-top: -32px;">
        <%%= news.detail %>
      </div>
    <%% } %>
    <div class="footer fr bs pl15" style="width: 100%; height: 34px;position: relative; overflow: visible; margin-top: 12px;">
      <div class="img34 circle1" style="position: absolute; right: 1px; top: 0px; "><img class="img34 circle0" src="/avatars/s/<%%= news.avatar_url %>.png" /></div>
      <div class="color-grey1 font-c fs-ita fs16 fw-bold" style="position: absolute; right: 42px; top: 0px; line-height: 1.2; height: 16px;"> 
        <%%= news.time %>
      </div>
      <div style="position: absolute; right: 44px; top: 16px; line-height:1.2; height: 16px;">
        <span class="fr color-grey3   fw-bold fs16  font-c">
          <%%= news.user %>
        </span>
        <span class="fr color-grey3 fs16 fs-ita font-c" >
          <%%= news.action %> by&nbsp;   
        </span>
      </div>
    </div>
  <%% } %>
</div>
</script>

<script type="text/template" id="paper-filter-tag-item">
<dd class="mb5" data-id=<%%= id %>>
<a href="#" class="font-c fs18 color-black"><em class="font-icon fs30 color-grey1 pr5">J</em><%%= name %><span class="circle0 cube20 inblock tac fs12 ml5 mt-15 pr" style="background-color:#e2e9f8; line-height:20px;top:-2px"><%%= num_papers %></span></a>
</dd>
</script>

<script type="text/template" id="paper-filter-person-item">
<dd class="cf mb30" data-id="<%%= id %>">
<a href="#" class="asblcok fl img48 circle"><img class="img48 circle0" src="<%%= avatar_url %>" /></a>
<div class="fl ml15">
  <a href="#" class="font-c fw-bold hover-f-blue"><%%= fullname %><em class="fs24 font-icon color-grey1 inblock mt-15" >></em></a><br />
  <span  class="inblock mt-10">
    <em class="fs36 font-icon color-grey1 ">K</em><%%= num_papers %>
    <%% if(num_favs>0) { %>
      <em class="fs36 font-icon color-grey1 p-btn-fav">*</em><%%= num_favs %>
    <%% } %>
  </span>
</div>
</dd>
</script>

<script type="text/template" id="everyone-view-template">
<div class="">
  <p class="mb40 mt10">
  <a><em class="invite-btn hover-f-blue inblock fw-bold underline m-f-input column-38 font-d color-grey2" >Invite people to join the club</em></a>
  </p>
</div>
<ul class="cf ">
</ul>
</script>

<script type="text/template" id="everyone-view-person-template">
  <span class="asblcok fl img96 circle"><img class="img96 circle0" src="<%%= avatar_url %>" /></span>
<div class="fl  ml15">
  <span  class="font-c fw-bold hover-f-blue fs26"><%%= fullname %></span><br />
  <span class="font-d color-grey2 inblock mt10 mb10"><%%= email %></span><br />
  <span  class="inblock mt-10" >
    <span class="color-grey2 font-d"><em class="fs36 font-icon color-grey1 ">K</em><%%= num_papers %></span>
    <span class="color-grey2 font-d" ><em class="fs36 font-icon color-grey1 ">b</em><%%= num_comments %></span> 
  </span>
</div>
</script>

<!------------------- PaperScreen's templates -------------->
<script type="text/template" id="ps-toolbar-template">
<p class="r-paper-title fs24 font-c color-black fs-ita lh44">
  <%%= title %>
</p>
<div class="r-footer-left pa fl color-grey2" style="height: 44px; width: 200px;"> 
  <a class="back" href="#/clubs/<%%= club_id %>"><div class="btn"><</div></a>
  <a class="comments"><div class="btn pr">b<span class="btn-tip" data-text="-">-</span></div></a>
  <a class="details"><div class="btn pr">Z<span class="btn-tip">-</span></div></a>
</div>
<div class="r-footer-right fr pa h100 color-grey2">
  <a class="zoomIn"><div class="btn">y</div></a>
  <a class="zoomOut"><div class="btn">z</div></a>
  <a class="download" href="<%%= download_url %>"><div class="btn">D</div></a>
</div>
</script>

<script type="text/template" id="ps-float-panel-template">
<div class="r-cover">
  <div class="r-cover-background"></div>
</div>
<div class="r-sidebar-main">
</div>
</script>

<script type="text/template" id="ps-comment-template">
<li class="cf mb10">
  <div class="img48 circle1 pa00l">
    <img class="circle0 img48" src="/avatars/m/<%%= user.avatar_url %>.png" />
  </div>
  <div class="fs16 font-c  ml50 pl10">
    <span href="#" class="fs18 mr5  fw-bold font-c lh28px"><%%= user.fullname %></span><br />
    <div class="content editable font-c fs16 lh20px"><%%= content %></div>
    <p class="footer color-grey2 lh20px mt3" style="height:25px;">
      <%% if(date) { %>
        <span class="fl fs14 font-c fw-bold fs-ita"><%%= PaperClub.formatDate(date) %></span>
      <%% } %>
      <span class="r-notes-btns fr">
        <a href="#" title="reply" class="r-btn-reply  fs24 ml5 font-icon">o</a>
        <a href="#" title="edit"  class="r-btn-edit  fs24 ml5 font-icon">r</a>
        <a href="#" title="delete" class="r-btn-del  fs24 ml5 font-icon">X</a>
      </span>
    </p>
  </div>
</li>
</script>

<script type="text/template" id="ps-reply-template">
<div class="img-header circle1 pa00l">
  <img class="circle0 img-header" src="/avatars/m/<%%= user.avatar_url %>.png" />
</div>
<div class="fs16 font-c ml50">
  <span class="mr5 fw-bold font-c"><%%= user.fullname %></span><br />
  <p class="content editable font-c fs16 mt3 lh20px"><%%= content %></p>
  <p class="footer color-grey2 mt3 lh20px" style="height:25px;">
    <%% if(date) { %>
      <span class="fl fs14 font-c fw-bold fs-ita"><%%= PaperClub.formatDate(date) %></span>
    <%% } %>
    <span class="r-notes-btns fr" >
      <a href="#" title="reply"  class="r-btn-reply fs24 ml5 font-icon">o</a>
      <a href="#" title="edit"   class="r-btn-edit  fs24 ml5 font-icon">r</a>
      <a href="#" title="delete" class="r-btn-del   fs24 ml5 font-icon">X</a>
    </span>
  </p>
</div>
</script>

<script type="text/template" id="ps-comments-panel-template">
<p class="font-d color-grey3 fs23 mb15" >Comments</p>
<ul class="mb20">
  <!-- insert comments and replies here -->
</ul>
</script>

<script type="text/template" id="ps-details-panel-template">
<div class="r-d-title mb-20">
</div>
<div class="r-d-tag mt20">
</div>
</script>

<script type="text/template" id="ps-tags-view-template">
<div class="font-d color-grey3 fs23">Tags</div>
<input class="mb15 mt15 font-c fs20 color-grey3 m-f-input input-b-dotted" style="width:100%;" id="addtag" placeholder="Add a new tag">
<ul>
  <!-- insert tags here -->
</ul>
</script>

<script type="text/template" id="ps-tag-view-template">
<span class="font-icon fs26 color-grey1 pa00l mt-5">J</span>
<span class="editable asblock font-c color-grey3 fs18 ml25 mr25"><%%= name %></span>
<a class="del-btn font-icon pr color-grey1 fs24 hover-f-blue pa00r">I</a>
</script>

<script type="text/template" id="ps-details-title-template">
<span class="font-d color-grey3 fs23">Title</span>
<div class="editable font-c fs24 color-grey3 fs-ita mt10 lh10"><%%= title %></div>
</script>

<script type="text/javascript">
  var USER_ID = <%= current_user.id %>;
  var USER_FULLNAME = "<%= current_user.fullname %>";
  var USER_AVATAR_URL = "<%= current_user.avatar_url %>";
</script>

<div id="uploaders-container">
</div>

<!-------------------------- Content --------------------------------->
