<!------------------- AllClubsScreen's templates --------------->

<script type="text/template" id="clubs-screen-template">
  <div class="p-sidebar" id="p-sidebar-nav">
    <div class="section ">
      <div class="header fs24 color-black fw-bold mb15 font-c">
        Clubs
      </div>
      <a class="c-btn-newclub color-blue fs18 font-d" href="#">New Club</a>
    </div>
    <div class="section p-btn-back font-d">
      <a href="#" id="signout-btn">
        <span class="asblock fs13 color-grey2 ">Sign out</span>
        <span class="asblock fs16 color-grey3 "><%= @user.fullname %></span>
      </a>
    </div>
  </div>
  <div class="p-paper-list cf">
    <ul class="mb30">
    </ul>
  </div> 
</script>

<script type="text/template" id="invited-club-template">
<div class="header fs24 color-black fw-bold mb20 "><%%= name %></div>
<div class="section cf ">
  <div class="section-left fl column-50">
    <div class=" fs24 color-grey3 pl40 mb20"><%%= description %></div>
    <div class="left-footer pl40">
      <span class="fs-16 color-grey2 mr10"><em class=" fs42 color-grey1 font-icon">K</em><%%= num_papers %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">f</em><%%= num_members %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">b</em><%%= num_notes %></span>
    </div>
  </div>
  <div class="section-right case-invited fl column-50 mt-15">
    <div class=" fs24 color-grey3 fs-ita">You are invited by <span class=" color-black fw-bold" ><%%= invitor_name %></span></div>
    <a class="c-btn-join asblock font-d fw-bold lh15 fs18 pl40 mt10" href="#">Join it</a> 
    <a class="c-btn-deny asblock font-d color-grey3 lh15 fs18 pl40 mt10" href="#">Decline invitation</a> 
  </div>
</div>
</script>

<script type="text/template" id="joined-club-template">
<div class="header fs24 color-black fw-bold mb20 "><a href="#/clubs/<%%= id %>"><%%= name %></a></div>
<div class="section cf ">
  <div class="section-left fl column-50">
    <div class=" fs24 color-grey3 pl40 mb20"><%%= description %></div>
    <div class="left-footer pl40">
      <span class="fs-16 color-grey2 mr10"><em class=" fs42 color-grey1 font-icon">K</em><%%= num_papers %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">f</em><%%= num_members %></span>
      <span class="fs-16 color-grey2 mr10"><em class="fs42 color-grey1 font-icon">b</em><%%= num_notes %></span>
    </div>
  </div>
  <div class="section-right fl column-50 mt-20 c-case-img">
    <%% _.each(avatar_urls, function(url, index) { %>
      <img class="img48 mr15 mb15" src="<%%= url %>"/>
    <%% }); %>
  </div>
</div>
</script>

<script type="text/template" id="new-club-dialoge-template">
<div class="m-m-overlay">
  <div class="m-m-container shadow4lv1 fs18">
    <div class="m-m-content">
      <dl class=" " >
        <dt id="new-club-name" class="m-f-input flv1 font-c color-grey2 fs20 color-black column-50" 
                              style="white-space: nowrap;overflow: hidden;" 
                              contenteditable="true"><%%= name %></dt>
        <dd id="new-club-description" class="m-f-input font-c color-grey2 fs20  mt20 ml40"  
                              style="white-space: nowrap;overflow: hidden;" 
                              contenteditable="true"><%%= description %></dd>
        <dt class="font-d fs-ita color-black mt30" style="line-height">Type emails to invite people — you can do this later, too.</dt>
        <%% _.each(invitation_emails, function(email, index) { %>
            <dd class="ml25"><span class="font-icon fs30 color-grey1 mt5  ">f</span><p id="new-club-email-<%%= index %>" class=" m-f-input inblock column-50 pl10" contenteditable="true">&nbsp;<%%= email %></p></dd>
        <%% }); %>
      </dl>
      <a href="#" class="c-btn-creatclub font-d asblock fr color-black fw-bold mt25" >Create Club</a>
      <a href="#" class="c-btn-cancelclub font-d asblock fr color-grey3 mt25 mr20 fs16" style="line-height: 1.5;" >Cancel</a>
    </div>
    <div class="m-m-footer"></div>
  </div>
</div>
</script>

<!------------------- OneClubScreen's templates --------------->

<script type="text/template" id="club-screen-template">
<div class="p-sidebar" id="p-sidebar-nav">
  <!-- insert summary view here -->
  <dl class="section p-nav-menu fs16 color-grey2 mt30 lh15 font-d">
    <dt class="menu-paper fs18 color-grey3 mt10"><a href="#">PAPERS</a></dt>
      <dd class="upload-btn-wrapper"><!-- insert upload btn here--></dd>
      <dd><a href="#">Find</a></dd>
    <dt class="menu-paper fs18 color-grey3 mt10"><a href="#">EVERYONE</a></dt>
    <dt class="menu-paper fs18 color-grey3 mt10"><a href="#">SETTINGS</a></dt>
  </dl>
  <div class="section p-btn-back font-d">
    <a href="#" >
      <span class="asblock fs13 color-grey2 ">back to</span>
      <span class="asblock fs16 color-grey3 ">CLUBS</span>
    </a>
  </div>
</div>
<!-- insesrt paper list view here -->
</script>

<script type="text/template" id="paper-upload-btn-template">
  Upload<%% if(uploading){ %>ing 
    (<%%= progress %>% 
    <%% if(errors > 0) { %>
      ,<span style="color:red;"><%%= errors %> failures</span>
    <%% }; %>
    ) <%% }; %>
</script>

<script type="text/template" id="club-screen-summary-template">
<div class="header fs24 color-black fw-bold mb15 font-c">
  <%%= name %>
</div>
<div class="content fs16 color-grey2 lh12 font-d">
  <%%= description %>
</div>
</script>

<script type="text/template" id="club-screen-paper-list">
<div class="mb15 cleanfloat" style="width: 100%;">
  <div class="fl column-62">
    <form>
      <input class="m-f-input column-62 font-d fs13" type="text"  placeholder="Search" />
    </form>
  </div>
  <div class="fl column-38 fw-bold color-grey2 font-d" style="text-align:right;">
    <a class="invite-btn" href="#">Invite people to club</a>
  </div>
</div>
<ul style="width:100%;padding-top: 24px;">
  <!-- insert paper items here -->
</ul>
</script>

<script type="text/template" id="club-screen-paper-item">
<div class="fl column-62">
  <div class="title fs26 font-c color-black fs-ita" style="line-height:32px;">
    <a href="#/papers/<%%= id %>"><%%= title %></a>
  </div>
  <div class="footer color-grey2 fs13 font-c" style="line-height:32px;height:32px;">
    <a class="ml10" style="margin-left:32px;"><em class="font-icon color-grey1 p-btn-fav" style="font-size:32px;line-height:32px;">*</em><%%= num_favs %></a>
    <span class="ml10"><em class="fs36 font-icon color-grey1" style="font-size:32px;line-height:32px;">E</em><%%= num_reads %></span>
    <span class="ml10"><em class="fs36 font-icon color-grey1" style="font-size:32px;line-height:32px;">b</em><%%= num_notes %></span>
    <em class="fs36 font-icon color-grey1" style="margin-left:10px;font-size:32px;">J</em>
    <%% if(tags.length > 0) { _.each(tags, function(tag, index) { %>
      <i class="mr5">
        <%%= tag.name %><%%= ( index >= tags.length-1 ? "" : "," ) %>
      </i>    
    <%% }); } else { %>
      <i class="mr5">(no tags)</i>
    <%% } %>
  </div>
</div>
<div class="fl column-38" style="">
  <div style="margin-top: 15px; width: 100%;">
  </div>
  <%% if (news.content.length > 0) { %>
    <div class="fs36 font-c fw-bold color-grey2" style="margin-top: 28px;">
      &#8220;
    </div>
    <div class="content pl15 fs18 color-grey3 font-c huanhang" style="text-indent: 16px; margin-top: -32px;">
      <%%= news.content %>
    </div>
  <%% } %>
  <div class="footer fr" style="width: 100%; height: 34px;position: relative; overflow: visible; margin-top: 12px;">
    <img class="img34" style="position: absolute; right: 0px; top: 0px; "src="<%%= news.avatar_url %>" />
    <div class="color-grey1 font-c fs-ita fs16 fw-bold" style="position: absolute; right: 42px; top: 0px; line-height: 1.2; height: 16px;"> 
      <%%= news.timestamp %>
    </div>
    <div style="position: absolute; right: 44px; top: 16px; line-height:1.2; height: 16px;">
      <span class="fr color-grey3   fw-bold fs16  font-c">
        <%%= news.author %>
      </span>
      <span class="fr color-grey3 fs16 fs-ita font-c" >
        <%%= news.action %> by&nbsp;   
      </span>
    </div>
  </div>
</div>
</script>

<!------------------- PaperScreen's templates -------------->

<script type="text/template" id="paper-screen-template">
 
</script>

<script type="text/template" id="paper-screen-toolbar-template">
<div class="r-paper-title fs26 font-c color-black fs-ita h100 mt-5" style="line-height: 44px;">
   <a href="#" class="r-btn-fav font-icon fs36  color-grey1 mr5" style="font-style: normal;">*</a>
   <%%= title %>
</div>
            
<div class="r-footer-left pa fl" style="line-height: 44px;"> 
  <a href="#/clubs/<%%= club_id %>" class="r-btn-back  ml10 mr10 fs18 font-d color-grey1 inblock h100 pt21"> <em class="font-icon lh100 fs24">-</em>papers</a>
  <a href="#" class="r-btn-notes ml5  tc pl5 pr5 font-d fs18  inblock color-grey2  h100 pt21">NOTES</a> <!-- btn-active -->
  <a href="#" class="r-btn-details  tc pl5 pr5 font-d fs18  inblock  color-grey2 h100 pt21">DETAILS</a>
</div>
<div class="r-footer-right fr pa h100 color-grey1" sytle="line-height: 44px;">
  <a class="zoomIn font-icon fs36 mr15" style="line-height: 44px;">y</a>
  <a class="zoomOut font-icon fs36 mr15">z</a>
  <a class="download font-icon fs36 mr15" href="<%%= download_url %>">D</a>
</div>
</script>
