/*position-css*/
.asblock{display:block;}
.inblock{display:inline-block;display:-moz-inline-stack;*display:inline;zoom:1;}
.disnone{display:none;}
.clearfloat{overflow:hidden; zoom:1;}
.cb{clear:both;}							
.fl{float:left;}
.fr{float:right;}
.cf:before, .cf:after { content: " ";  display: table; } 
.cf:after { clear: both; } /** * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */ 
.cf { zoom: 1; }
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.of{overflow:hidden;}
.bs{box-sizing:border-box;-moz-box-sizing:border-box;}
/*hzb 10.05 fix*/
.editable:focus{outline:0;border-left:3px solid #2ea1dd;}
.unselectable{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
cursor:default;
}
.placeholder{color:#999;}

input:-webkit-autofill{color:#fff !important; backgroud-color:#fff !important;}

/*font-css*/
.font-c{font-family:chaparral-pro,sans-serif;}
.font-d{font-family:dejarip,sans-serif;}
.font-icon{font-family:icons,sans-serif;}
.color-grey3{color:#616265;}
.color-grey2{color:#afafaf;}
.color-grey1{color:#e6e7e7;}
.color-blue{color:#2ea1dd;}
.color-black{color:#000;}
.fs42{font-size:42px;}
.fs36{font-size:36px;}
.fs30{font-size:30px;}
.fs26{font-size:26px;}
.fs24{font-size:24px;}
.fs23{font-size:23px;}
.fs22{font-size:22px;}
.fs20{font-size:20px;}
.fs18{font-size:18px;}
.fs16{font-size:16px;}
.fs14{font-size:14px;}
.fs13{font-size:13px;}
.fs12{font-size:12px;}
.fw-bold{font-weight:bold;}
.fs-ita{font-style:italic;}
.lh10{line-height:1.0;}
.lh12{line-height:1.2;}
.lh15{line-height:1.5;}
.lh20px{line-height: 20px;}
.lh28px{line-height: 28px;}
.lh44{line-height: 44px;}
.ls2{letter-spacing:2px;}
.ls1{letter-spacing:1px;}
/*font-level-1-clubname*/
.flv1{font-size:24px; font-weight:bold; color:#000;font-family:chaparral-pro,sans-serif;}
.underline{text-decoration:underline;}
/*hover--css*/
.hover-bg-blue:hover{background-color:rgba(46,161,221,0.05);}
.hover-f-blue:hover{color:#2EA1DD;}
.hover-border{border-bottom: 1px dotted transparent; border-left:3px solid transparent;margin-left:-8px;padding-left:5px;}
.hover-border:hover{border-bottom:1px dotted #999; border-left:3px solid #ccc;}
div.section:hover >.hover-border{border-bottom:1px dotted #999; border-left:3px solid #ccc;}
div.section.editting > .hover-border{border-bottom:1px dotted #999; border-left:3px solid #2EA1DD;}
li.editting .editable{border-bottom:1px dotted #999; border-left:3px solid #ccc;}
li.editting .editable:focus{border-bottom:1px dotted #999; border-left:3px solid #2EA1DD;}


.hover-border:hover{border-bottom:1px dotted #999;}
.hover-border:focus{border-left:3px solid #2EA1DD; }
.edit-btns{overflow: hidden; display:none;}
/*paragraph--css*/
.textin2{text-indent:2em;}
.huanhang{word-wrap:break-word;}
.tac{text-align:center;}
.tr{text-align:right;}
.lh100{line-height:100%;}
.lh44{line-height:44px;}

.btn-pri{border:1px solid #ddd; border-radius:4px; box-shadow:1px 1px 1px rgba(0,0,0,0.12);padding:0px 5px; background-color:#fff;}
.btn-pri:hover{ color:#2ea1dd;}
.btn-pri:active{color:#005580; box-shadow:inset 1px 1px 1px rgba(0,0,0,0.2);}
/*width&height--size&grid css*/
.h100{height:100%;}
.w100{width:100%;}
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w80{width:80px;}
.w101{width:101px;}
.w120{width:120px;}
.img34{width:34px;height:34px;}
.img48{width:48px; height:48px;}
.h44{height:44px;}
.column-62{width:62%;}
.column-38{width:38%;}
.column-50{width:50%;}

.img96{width:96px; height:96px;}
.mr60{margin-right:60px;}
.mb50{margin-bottom:50px;}
.disnone{display:none;}
.color-white{color:#fff;}
/*layout-css*/
.mauto{margin:0 auto;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml35{margin-left:35px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mb10{margin-bottom:10px;}
.mb9{margin-bottom:9px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt25{margin-top:25px;}
.mb15{margin-bottom:15px;}
.mb16{margin-bottom:16px;}
.mt15{margin-top:15px;}
.mb20{margin-bottom:20px;}
.mt20{margin-top:20px;}
.mb23{margin-bottom:23px;}
.mt23{margin-top:23px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mt30{margin-top:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt-5{margin-top:-5px;}
.mt-10{margin-top:-10px;}
.mt-15{margin-top:-15px;}
.mt-20{margin-top:-20px;}
.mt-25{margin-top:-25px;}
.mt-30{margin-top:-35px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl35{padding-left:35px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt21{padding-top:21px;}
.pt25{padding-top:25px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}

/*bg&shadow-css*/
.bgwhite{background-color:#fff;}
.shadow024{box-shadow:0 -2px 4px rgba(0,0,0,0.15),2px 0px 4px rgba(0,0,0,0.15),-2px 0px 4px rgba(0,0,0,0.15);}
.shadow028{box-shadow:0 -2px 8px rgba(0,0,0,0.15),2px 0px 8px rgba(0,0,0,0.15),-2px 0px 8px rgba(0,0,0,0.15);}
.shadow0210{box-shadow:0 -2px 6px rgba(0,0,0,0.10),6px 0px 8px rgba(0,0,0,0.15),-6px 0px 8px rgba(0,0,0,0.15);}
.shadow4lv1{box-shadow:0 -4px 8px rgba(0,0,0,0.2),4px 0px 8px rgba(0,0,0,0.2),-4px 0px 8px rgba(0,0,0,0.2);}

/*module-form-css*/
.m-f-input{outline:0px; }
.input-b-solid{ border:none; border-bottom:1px solid #AFAFAF;}
.input-b-dotted{ border:none; border-bottom:1px dotted #AFAFAF;}
.m-f-input:focus{color:#000;}
.border0{border:none;}
.border1{border: none;border-bottom: 1px dotted #999}
.bt1{border-top:1px solid #000;}
.bb1{border-bottom:1px solid #000;}
.bl1{border-left:1px solid #000;}
.br1{border-right:1px solid #000;}
.outline0{outline:none;}
.b50{border-radius:50%;}
.circle0{border-radius:50%;}
.circle{
  border-radius: 50%;
  border:2px solid rgba(0,0,0,0.1);}
.circle1{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border:1px solid rgba(0,0,0,0.1);
}
.cube24{width:24px; height:24px;}
.cube20{width:20px; height:20px;}

/*module-modal-css*/
.m-m-wrapper,.m-m-overlay{position:fixed;width:100%;height:100%;left:0px; top:0px; }
.m-m-wrapper{z-index:100;}
.m-m-overlay{ z-index:101; background-color:rgba(0,0,0,0.5);}
.m-m-container{z-index:102; position:absolute; left:0;right:0; top:0; bottom:0; margin:auto; background-color:#fff; padding:32px;}


.bg-logo {
background: url(logo_s.png) no-repeat;
background-size: cover;
}
.p-logo{height:50px; width:170px;}
/*page-papers-css*/
html , body { width:100%; background: #afafaf url(grey_bg.jpg) repeat fixed; color:#000; min-width:960px; overflow: auto; }
::selection {
 background: rgba(46, 161, 221, 0.5)
}
.p-page-content{ 
  position:relative;  margin:24px; width:auto; overflow:hidden;
  background-color: white;
}
.p-sidebar{
	position:absolute;
  overflow: hidden;
	width:255px;
	color:#fff;
	padding:36px 0px 0px 36px;
}
.p-find{
  width:255px;
}
.p-sidebar > .main {
  width: 219px;
}
.p-main {
	width:auto;
	margin-left:255px;
	position:relative;
	box-sizing:border-box; -moz-box-sizing:border-box; 
	padding:34px 36px 0px 36px;
  overflow: hidden;
}
.p-papers-view {
  position: relative;
}
.p-everyone-view {
}
.p-paper-list{
	box-sizing:border-box; -moz-box-sizing:border-box; 
}
.p-paper-list>ul>li:hover >.bs .del-btn{display:block;}
.hide-right-column .column-38{
  display:none;
}
.hide-right-column .column-62{
  width: 100%;
}
.r-footer-content{
	width:auto;
	min-height:100%;
	margin-left:255px;
	position:relative;
	box-sizing:border-box; -moz-box-sizing:border-box; 
	padding:0px 36px 0px 18px;
}
.p-paper-list .title:hover {color:#2ea1dd;}
.p-nav-menu dt:hover ,.p-nav-menu dd:hover{color:#2ea1dd;}
.p-btn-back{ 
  position: fixed; 
  bottom: 36px;	
}
.p-btn-back a:hover span{color:#2ea1dd;}
.p-paper-list .fav {margin-top:4px;}
.p-btn-fav:hover,.r-btn-fav:hover{color:lighten(#ffcc00,35%);}
.p-btn-fav.starred, .r-btn-fav.starred{color:#ffcc00;}
.c-club-lists>li:hover .del-btn{display:block;}
/*page-reading --css*/	
.r-paper-container{ width:920px; min-height:500px; position:absolute;  margin:0 auto; left:0px; right:0px; z-index:1px;}
.r-pagination{position:fixed;bottom:50px; left:0px;right:0px; width:128px; height:32px; line-height:32px;margin:0 auto; z-index:2;display: none;}
.r-footer{ 
  position:relative; position:fixed; height:44px;  left:24px; right:24px; bottom:-48px; z-index:50;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out
}
.r-footer.active {
  -webkit-transform: translate(0, -44px);
  -moz-transform: translate(0, -44px);
  -o-transform: translate(0, -44px);
  -ms-transform: translate(0, -44px);
  transform: translate(0, -44px);
}
.r-footer .btn {
  float: left;
  height: 44px;
  width: 55px;
  text-align: center;
  line-height: 44px;
  font-family:icons,sans-serif;
  font-size: 40px;
  position: relative;
}
.r-footer .btn .btn-tip {
  position: absolute;
  top: -19px;
  left:0px;right:0px;
  margin:0 auto;
  display: none;
  width:28px;
  height:23px;
  background:url(triangle.png) no-repeat center center;

}
/*.r-footer .btn .btn-tip:before{
  content:attr(data-text);
  color:#333;
  position:absolute;
  top:-2px;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=4);
  zoom:1;
}*/
.r-footer .btn.clicked .btn-tip {
  display: block;
}
.r-footer-left{left:0px; bottom:0px; height:100%; }
.r-footer-right{right:0px; top:0px; height:100%; }
.r-footer-left a:hover {color:#2ea1dd;}
.r-footer-right a:hover{color:#2ea1dd;}
.r-btn-pin:hover{color:#2ea1dd;}
.r-notes-name:hover{color:#2ea1dd;}
.r-notes-topic{
  border-bottom:1px dashed #999; 
  margin-bottom:20px;
  padding-bottom: 5px;
}
.r-notes-topic > li {
  position: relative;
}
/*.r-notes-topic .content{color:#afafaf;}*/
/*.r-notes-topic :first-child .content{color:#000;}*/
.r-notes-topic .img-header{width:36px;height:36px;}
/*.r-notes-topic :first-child .img-header{width:33px;height:33px;}*/
.r-notes-topic .r-notes-name{color:#afafaf; font-size:14px; font-weight:normal; margin-top:18px;}
/*.r-notes-topic :first-child .r-notes-name{color:#000; margin-top:25px;}*/
.r-notes-btns {visibility:hidden;}
.r-notes-btns a:hover{color:#2ea1dd;}
.r-btn-edit, .r-btn-del {display: none;}
.r-notes-topic > li:hover .r-notes-btns{visibility:visible;}
.r-notes-topic.new > li .footer{display:none;}
.r-notes-topic.new > li .content{border-bottom:1px dotted #999;min-height:20px;}
.r-notes-topic.new { border-bottom: none; }
.r-notes-topic li .header{height:27px;}
.r-notes-topic .content { white-space: pre-wrap; }

.r-note-reply{margin-left:60px;margin-bottom:10px;position: relative;}
.r-note-reply.new .footer{display:none;}
.r-note-reply.new .content{border-bottom:1px dotted #999;}
.r-note-reply.new { border-bottom: none; }

.btn-active{box-shadow:4px 8px 7px rgba(0,0,0,0.15),-4px 8px 7px rgba(0,0,0,0.15);color:#2ea1dd;background-color:#fff; padding-top:-5px;}
.r-sidebar{ 
  position:fixed; 
  bottom:40px; 
  top:24px; left:24px; 
  z-index:20; 
  display: none;
  overflow: hidden;
}
.r-sidebar-main {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  box-sizing:border-box; -moz-box-sizing:border-box;   
  padding:24px 24px 64px;; 
  overflow-y:auto; 
  overflow-x: hidden;
}
.r-cover{
  position:absolute; 
  bottom: 0px; left: 0px;
  width: 100%;
}
.r-cover-background{
  position: absolute;
  bottom:0px;
  left:24px;
  right: 24px;
  height:90px;
  z-index:5; 
  background:url(gradient-bg.png) repeat-x;
}
.r-paper-title{margin:0 260px;}

.r-viewport {
  width: 100%;
  margin-bottom: 57px;
}
.r-viewport-page{
  margin: 13px auto;
  border: solid 1px;
  border-color: gray;
  background-color: #AFAFAF;
  overflow: hidden;
  position: relative;
  /* Force Webkit-based browsers to use GPU acceleration   */
  /*-webkit-transform: scale3d(1,1,1);*/
}
.r-viewport-page.loading {
  background: white url(loading.gif) center no-repeat;
}
.loading{
  background: url(loading.gif) center no-repeat;
}
.r-viewport-page > div > .p {
  overflow: hidden;
  background-color:white;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

/*clubs--css*/
.c-btn-join:hover,.c-btn-deny:hover{color:#2ea1dd;}
.c-btn-ok:hover, .c-btn-cancel:hover{color:#2ea1dd;}
.c-btn-join:active{color:#005580;  box-shadow:inset 1px 1px 1px rgba(0,0,0,0.2);}
.c-btn-ok:active{color:#005580; box-shadow:inset 1px 1px 1px rgba(0,0,0,0.2);}
.section-right.case-invited{margin-top:0px;}
.c-case-img{height:100%; overflow:hidden; max-height:120px;}

.p-paper-filter{
  position:absolute;
  left:0px;
  top:0px;
  width: 255px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding: 0px 50px 0px 0px;
  display:none;
}


.icon-triangle{
  position:absolute;
  margin:0 auto;
  left:0px;
  right:0px;
  top:-20px;
  width:15px;
  height:15px;
  color:#fff;
  text-shadow:0px -2px 3px rgba(0,0,0,0.18);
  
}
.r-details-btn{top:0px; right:0px; }
.r-d-title:hover .disnone{
  display:block;
}
.r-d-tag:hover .disnone{
  display:block;
}
.paper-search {
  width: 62%;
}
.clicked, .clicked .color-black, .clicked .color-grey1, .clicked .color-grey2, .clicked .color-grey3{
color: #2ea1dd;
}
.pa00l{position:absolute; left:0px;top:0px;}
.pa00r{position:absolute; right:0px;top:0px;}
.ml50{margin-left:50px;}
.img36{width:36px; height:36px;}
.del-btn { display: none; }
a.del-btn:hover { color: #ff9fb3; }
.r-details-tag:hover .del-btn,.r-details-tag:focus .del-btn{
  display:block;
}

.content {
  overflow: hidden;
}

/* CSS animation */
.transit-o {
  transition: opacity 0.8s;
  -moz-transition: opacity 0.8s; /* Firefox 4 */
  -webkit-transition: opacity 0.8s; /* Safari and Chrome */
  -o-transition: opacity 0.8s; /* Opera */
}
.transit-o4 {
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s; /* Firefox 4 */
  -webkit-transition: opacity 0.4s; /* Safari and Chrome */
  -o-transition: opacity 0.4s; /* Opera */
}

.b {
}

// for pdf2htmlEX
.p {
  visibility: hidden;
  position:absolute;
  overflow:hidden;
}
.l {
  position:absolute;
  white-space:pre;
  font-size:1px;
  transform-origin:0% 190%;
  -ms-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -webkit-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
}
._ {
  color:transparent;
}
.p span {
  position:relative;
  vertical-align: baseline;
}
.i {
  position:absolute;
}
