// Place all the styles related to the browser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-hv-ab{position:absolute;left:0px;right:0px;top:0px;bottom:0px;margin:auto;}
.inblock{display:inline-block;display:-moz-inline-stack;*display:inline;zoom:1;}
.bg-white{background-color:#fff;}
.boder{border:1px solid #000;}
.font-c{font-family:chaparral-pro,sans-serif;}
.font-d{font-family:dejarip,sans-serif;}
.tc{text-align:center;}
.fw-bold{font-weight:bold;}
.fs-ita{font-style:italic;}
$grey1: #e6e7e7;
$grey2: #afafaf;
$grey3: #616265;
$blue:  #2ea1dd;
$black: #000;
.shadow024{box-shadow:0 -2px 4px rgba(0,0,0,0.15),2px 0px 4px rgba(0,0,0,0.15),-2px 0px 4px rgba(0,0,0,0.15);}
.shadow028{box-shadow:0 -2px 8px rgba(0,0,0,0.15),2px 0px 8px rgba(0,0,0,0.15),-2px 0px 8px rgba(0,0,0,0.15);}
.shadow0210{box-shadow:0 -2px 6px rgba(0,0,0,0.10),6px 0px 8px rgba(0,0,0,0.15),-6px 0px 8px rgba(0,0,0,0.15);}
.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
@mixin size($w,$h){width:$w;height:$h;}
@mixin boxshadow($x,$y,$blur,$color){box-shdow:$x,$y,$blur,$color;}
@mixin fs($fs){font-size:$fs;}
@mixin mt($mt){margin-top:$mt;}
@mixin textin($textin){text-indent:$textin;}

body{
  @include size(100%,100%);
  background:#afafaf url(grey_bg.jpg) repeat fixed;
}

.b-wrapper{
  @extend .shadow024, .bg-white, .center-hv-ab,.border-box;
  padding:32px;
  height:440px;
  width:80%;
  min-width:800px;
}	
.b-header{
  @extend .font-d, .tc, .fs-ita;
  @include fs(24px);
  @include mt(20px);
  img{width:130px; margin-left:20px; position:relative;top:10px;}
}
.b-des{
  @extend .font-c;
  @include mt(30px);
  @include fs(18px);
  @include textin(2em);
}
.b-browsers{
  ul{padding-top:50px; margin:0 auto;width:630px;}
  li{@extend .tc ,.inblock, .font-d; width:150px;}
  li .img{height: 83px; width: 75px; display:block;margin:0 auto;}
  li .img-ie{background:url(browsers.jpg) no-repeat 0px 0px;}
  li .img-moz{background:url(browsers.jpg) no-repeat -75px 0px;}
  li .img-chrome{background:url(browsers.jpg) no-repeat -150px 0px;}
  li .img-safari{background:url(browsers.jpg) no-repeat -225px 0px;}
  li .name{display:block;font-size:18px;color:$blue;cursor:default;}
  li .version{font-size:16px;color:$grey2;margin-top:6px;}
}



